// Colors
$h1: #2e3192;
$mainText: #404040;

// Shadows
$mainShadow: 11px 11px 5px -9px rgba(169, 169, 169, 1);

// Borders
$mainBorder: 1px solid #ebebec;

// Media querys
$mobileL: 424px;
$tablet: 767px;
$laptop: 1023px;
$laptopL: 1439px;
$fourK: 2559px;
